section.about.flex
	h2 About Me
	.avatar-social
		figure
			img(src="images/avatar.png")
		ul.flex
			li
				a.fa.fa-facebook(href="#")
			li
				a.fa.fa-twitter(href="#")
			li
				a.fa.fa-linkedin(href="#")
			li
				a.fa.fa-github-alt(href="#")
	.item-content
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptate temporibus nihil ad commodi velit. Architecto, nam laudantium! Nesciunt porro obcaecati modi natus provident ducimus maxime nostrum quod praesentium fuga.

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptate temporibus nihil ad commodi velit. Architecto, nam laudantium! Nesciunt porro obcaecati modi natus provident ducimus maxime nostrum quod praesentium fuga.

		a.btn(href="")
			i.fa.fa-download 
			| Descargar Resumen