section.articulos
	h2 Articulos
	.container.flex
		article
			figure
				img(src="images/nota1.png")
			h2 Learn To Code While You Travel
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dolorum iusto suscipit totam quidem aliquid harum dicta quia debitis voluptates illum, similique at modi quibusdam eveniet repudiandae? Saepe, possimus, animi?

		article
			figure
				img(src="images/nota1.png")
			h2 Learn To Code While You Travel
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dolorum iusto suscipit totam quidem aliquid harum dicta quia debitis voluptates illum, similique at modi quibusdam eveniet repudiandae? Saepe, possimus, animi?
		article
			figure
				img(src="images/nota1.png")
			h2 Learn To Code While You Travel
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dolorum iusto suscipit totam quidem aliquid harum dicta quia debitis voluptates illum, similique at modi quibusdam eveniet repudiandae? Saepe, possimus, animi?