doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title - Frond End
		link(href="css/style.css", rel="stylesheet", type="text/css")
		link(href="css/bootstrap.min.css" , rel="stylesheet", type="text/css")
		link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
		link(rel="stylesheet" href="css/font-awesome.min.css")
		meta(name='description', content='descripcion del sitio web')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(property='og:title', content=' ')
		meta(property='og:site_name', content=' ')
		meta(property='og:url', content=' ')
		meta(property='og:description', content=' ')
		meta(property='og:image', content=' ')
	body
		include block/header.pug
		include block/nav.pug
		include block/footer.pug
		script(src="js/jquery-1.11.3.min.js")
		script(src="js/bootstrap.bundle.min.js")
		script(src="js/bootstrap.min.js")
		script(src='js/main.js', type="text/javascript")