section.about{
	width: 100%;
	height: auto;
	justify-content: center;
	flex-wrap: wrap;
	padding: 100px 0;
	h2{
		text-align: center;
		width: 100%;
		font-size: 34px;
		line-height: 38px;
	}
	.avatar-social{
		max-width: 320px;
		margin-bottom: 50px;
		figure{
			width: 200px;
			height: 200px;
			border-radius: 100px;
			background: #ccc;
			margin-top: 10px;
			margin-bottom: 30px;
			img{
				width: 100%;}
		}
		ul{
			width: 100%;
			list-style: none;
			justify-content: space-around;
			margin: 0;
			li{
				a{
					color: #303030;
					font-size: 16px;
					line-height: 16px;
					text-decoration: none;}
			}
		}
	}
	.item-content{
		width: 100%;
		padding: 40px 15px;
		p{
			font-size: 16px;
			margin-bottom: 20px;
		}
		a{
			width: 200px;
			height: 40px;
			margin: auto;
			display: block;
			color: #fff;
			background-color: #303030;
			text-decoration: none;
			line-height: 40px;
			text-align: center;
			font-weight: 700;
			text-indent: -3px;
			margin-top: 50px;
			i.fa-download {
				margin-right: 10px;
			}
		}
	}
}