h1,h2,h3,h4{
	margin-top: 0px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
	color: var(--negro);
	font-family: 'Roboto', sans-serif;
}
:root{
	
	--naranja: #e5873a;
	--gris: blue;
}